:root {
    --primary: #303f9f;
    --lightPrimary: #6d7fe6c9;
    --secondary: #da1b64;
    --lightSecondary: #da1b6477;
    --blueGrey: #263238;
    --lightBlueGrey: #7293aa;
    --whiteBlueGrey: #eceff1;
    --anotherGrey: rgb(155, 151, 151);
    --md: 1em;
}

#cartList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 1em;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: var(--whiteBlueGrey);
    margin: 0;
    padding: 0;
}

.cart-container {
    margin: 0 auto;
    width: 40vw;
    font-weight: 900;
    display: grid;
}

.text-md {
    color: var(--blueGrey);
    font-size: var(--md);
    line-height: var(--md);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: var(--primary);
    color: var(--whiteBlueGrey);
    padding: 0 4vw;
    margin: 0 auto;
    box-shadow: 1px 1px var(--primary);
    transition: 0.55s;
    box-shadow: 3px 2px 19px var(--lightBlueGrey);
}

.cart {
    display: grid;
    opacity: 0;
    background-color: var(--whiteBlueGrey);
    top: 0;
    right: 0;
    transition: all 0.5s ease-in;
    width: 100vw;
    height: 0;
    box-shadow: 2px 2px 2px var(--lightBlueGrey);
}

.show-cart {
    opacity: 1;
    min-height: 100vh;
    padding: 2vh 2vh;
}

#cart-info {
    background-color: var(--secondary);
    z-index: -900;
}

.cart-icon-container {
    position: relative;
}

.pill {
    z-index: 9000;
    opacity: 1;
    transform: translate(50%, 100%);
    height: 30px;
    margin: 0 auto;
    padding: 0.25em;
    border-radius: 1rem;
    background-color: var(--lightBlueGrey);
    transition: 0.7s;
}

.pill .show {
    opacity: 0;
}

.app-container {
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
}

form {
    display: grid;
}

input {
    margin: 1em 0;
    padding: 0.25em;
    outline: none;
    border: none;
    background-color: var(--whiteBlueGrey);
    border-bottom: solid 1px var(--primary);
}

input:focus {
    border-bottom: solid 1px var(--lightPrimary);
}

select {
    border: none;
    background-color: var(--whiteBlueGrey);
    border-bottom: solid 1px var(--lightPrimary);
}

.product-listing-container {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 0 auto;
}

.tool-bar {
    margin: 2em auto;
    padding: 1em auto;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.tool-bar button {
    margin: 0 1em;
    width: 80%;
}

button {
    margin-top: 1em;
    outline: none;
    width: 100%;
    padding: 0.75em;
    border: none;
    border-radius: 0.5rem;
    transition: 0.7s;
}

button:hover {
    box-shadow: 3px 3px var(--lightBlueGrey);
}

button:active {
    box-shadow: 1px 1px var(--lightPrimary);
    transform: translateY(4px);
}

.light-btn {
    background-color: var(--whiteBlueGrey);
    border: var(--primary) 1px solid;
}

.primary-btn {
    color: white;
    background-color: var(--lightPrimary);
}

.add-to-cart-btn {
    color: white;
    background-color: var(--lightPrimary);
    width: 80%;
    margin: 0.75em 0;
}

.pagination {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    justify-content: center;
}

.pagination button {
    background: var(--whiteBlueGrey);
    border: 1px solid var(--anotherGrey);
    margin: 0 1px;
    border-radius: 0;
}

#search-bar,
#categories,
#categories option {
    font-weight: 700;
    text-align: center;
    font-size: 1.25em;
    padding: 1em;
    width: 80vw;
    margin: 1em auto;
    color: var(--primary)
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 900px) {
    .product-listing-container {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .product-listing-container {
        grid-template-columns: 1fr;
        width: 95vw;
    }
}